body
{
    font-family: 'RocknRoll One', sans-serif;
    background-color: #fefee2 ;

}

#body2
{
    background-color: #fefee2 ;
 
}
.navbar-brand
{
    width: 40px;
    /* height: 50px; */
}

#logo
{
    width: 40px;

}

#center 
{
    align-items: center;
}

.bas 
{
    padding-bottom: 900px;
}

.card-img, .card-img-bottom, .card-img-top {
    color: #fefee2
}

.buffet
{
    filter: brightness(50%);
}